body {
  margin: 0;
  padding: 0;
  background: #388E8E;
}
#base {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #4d4d4d;
  height: 325px;
  width:325px;
  padding:11px;
  border-radius: 50%;
  padding: 1px solid #fff;
}
.panel {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#front-panel {
  background: #dcdcdc;
  border-radius: 50%;
  height: 145px;
  width: 145px;
  font-family: 'Quantico', sans-serif;
  color: #4d4d4d;
  font-size: 23px;
  text-align: center;
  padding: 20px;
}
#back-panel {
  background: #4d4d4d;
  border-radius: 50%;
  height: 210px;
  width: 210px;
}
#display {
  padding-top: 5px;
}
#input-display {
  display: inline-block;
  background: #B4CDCD;
  border-radius: 7px;
  border: 1px solid #dcdcdc;
  height: 40px;
  width: 55px;
  text-align: center;
  font-family: 'Coda', cursive;
  font-size: 30px;
  color: #424242;
  margin-right: 3px;
  margin-top: 2px;
}
.control-button {
  border-radius: 50%;
  height:25px;
  width: 25px;
  vertical-align: middle;
  border: 3px solid #424242;
  color: #dcdcdc;
  font-size: 11px;
  display: inline-block;
  margin-top: -9px;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}
#start-game {
  background: #DC143C;
  margin-right: 3px;
  padding: 2px;
}
#strict-mode {
  background: #EEEE00;
  color: #000;
}
.quarter-circle {
  height: 160px;
  width: 160px;
  display: inline-block;
  cursor: pointer;
}
#green {
  background: #008B00;
  border-radius: 160px 0 0 0;
}
#red {
  background: #DC143C;
  border-radius: 0 160px 0 0;
}
#yellow {
  background: #EEEE00;
  border-radius: 0 0 0 160px;
}
#blue {
  background: #4169E1;
  border-radius: 0 0 160px 0;
}
#bottom-panel {
  padding-top: 15px;
}
.on-off {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  margin-right: 0;
  margin-top: -15px;
}
#switch {
  background: #696969;
  border-radius: 3px;
  border: 1px solid #666;
  height: 20px;
  width: 60px;
  padding: 3px 2px 2px 3px;
  display: inline-block;
}
#switch-runner {
  background: #ADD8E6;
  border-radius: 3px;
  border: 1px solid #666;
  height: 18px;
  width: 25px;
}
